
.titulos{
    color: #333;
    text-align: center;
    display: block;
}

.formato{
    display: flex;
    justify-content: center;
    font-size: 1em;
}
.imagenes{
    text-align: center;
}
body {
    font-family: cursive;
    margin: 20px;
    background-color: antiquewhite;
}
p{
    text-align: justify;
    line-height: 1.5;
}

.contenedor {
    display: flex; 
    align-items: center; 
    background-color: #979090;
}

.img {
    flex: 1; 
    text-align: right;
    height: 100%;
    
    
}

.img img {
    max-width: 100%; 
    margin-right: 400px;
  
  
    display: block;
}

.texto {
    flex: 1; 
    text-align: left;
    margin-right: 200px;
}

.texto2 {
    flex: 1;
    text-align: left;
    margin-left: 120px;
}

.img2 {
    flex: 1;
    text-align: right;
    order: 1; 
    margin-right: 150px;
}

.img2 img {
    max-width: 100%;
}
